In [45]:
import camelot
import pandas as pd

In [77]:
tables = camelot.read_pdf(r"C:\Users\agostine\Documents\src\coronavirus\data\raw\protezione_civile\Dati Province 4marzo2020.pdf", pages='all')
#df = pd.concat(tables).reset_index().drop('index', axis=1).dropna()
#df.columns = ['provincia', 'totali']

In [80]:
tables[-5].df

                       0   1
0                SICILIA
1                Palermo   3
2  Sicilia da aggiornare  14
3                Catania   1
4                 Totale  18